<div class ="main posts-new">
  <div class ="container">
    <h1 class = "form">編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update") do %>
     <div class = "form-body">
       <textarea><%= @post.content %></textarea>   
       <input = "submit" value="保存">
        </div>
    <% end %>
    </div>
</div>