// Place all the styles related to the salons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#salon-show {

    .salon-images-area {
      height: 200px;
      width: 100%;
      overflow: scroll;
      white-space: nowrap; 
      margin: 0 0 20px 0;
    }

    .post-index-item {
      padding: 10px 0;
    }

    .post-index-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
    }
    .add-post {
        float: right;
    }
    
    .heading {
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .salons-show-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 20px;      
    }
    
    
    .salons-show-video {
      width: 200px;
      height: 200px;
    }    
    
    .salons-show-icon {
      width: 250px;
      height: 200px;     
    }    
    
    
    .new-salon-submit {
        margin: 20px 0;
    }
    
    
}

// salon-form 

#salon-form {
  
   form p {
      margin: 20px 0 0 0;
    }
  
    form input, textarea {
      margin: 0 auto;
    }
    
    .new-salon-submit{
      margin: 20px 0px;
    }
    
    .content {
      border-radius: 20px;
      padding: 20px 0px;
      background-color: #e6e6fa;
      height: 700px;
      width: 80%;
      margin:0 auto;
      text-align: center;
    }
  
    
    .footer {
      margin: 100px 0px;
    }
}