<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>

<style>
    .flash {
       background: #00ffff; 
       color: #808080;
       height: 50px;
       text-align: center;
       padding: 15px 0;
       border-radius: 3px;
       margin: 10px auto;
       width: 90%;
       
    }
</style>
